<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance_Lead</title>
</head>
<body style="background-color: rgb(0, 255, 136);">
    <form method="get" action ="/predict_lead">
        <label>City_Code:</label>
        <input type="text" name ="City_Code">
        <br>
        <br>   						
        <br>
        <label>Acomodation_Type:</label>
        <input type="text" name ="Acomodation_Type">
        
        <label>Reco_Insurance_Type:</label>
        <input type="text" name ="Reco_Insurance_Type">
        <br>
        <br>
        <label>Married:</label>
        <input type="text" name ="Married">
       
        <label>Health_Indicator:</label>
        <input type="text" name ="Health_Indicator">
        <br>
        <br>
        <label>Holding_Policy_Duration:</label>
        <input type="text" name ="Holding_Policy_Duration">

        <label>Holding_Policy_Type:</label>
        <input type="text" name ="Holding_Policy_Type">
        <br>
        <br>

        <label>Reco_Policy_Cat:</label>
        <input type="text" name ="Reco_Policy_Cat">


        <label>Reco_Policy_Premium:</label>
        <input type="text" name ="eco_Policy_Premium">
        <br>
        <br>
        <label>Avg_Age:</label>
        <input type="text" name="Avg_Age">
        
        <br>
        <br>
        <input type="submit" value ="SUBMIT">
        

    </form>
    <br>
    <br>
    {{result}}
</body>
</html>

